@import "tailwindcss";

:root {
  --background: #ffffff;
  --background: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cav-black: #0b0c0c;
  --color-cav-gold: #ba8b0b;
  --color-cav-dark-gray: #121313;
  --color-cav-light-gray: #e4e1dd;
  --color-cav-medium-gray: #191a1a;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
}
